<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>brockChain</title>
	</head>
	<body>
		<!-- ejs tag to push info from server to webpage <%  %>  -->
		Hello, <%= text %>!
	</body>
</html>
